*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.home{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  .title{
    font-size: 40px;
    padding-top: 50px;
  }
  .router{
    button{
      font-size: 20px;
      font-weight: 700;
      border: none;
      background-color: #242424;
      color: #ffffff;
      padding: 20px 0;
      transition: .3s;
    }
    button:hover{
      cursor: pointer;
      color: rgb(0, 174, 255);
    }
  }
}
.quiz{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  .title{
    font-size: 40px;
    padding-top: 50px;
  }
  .router{
    button{
      font-size: 20px;
      font-weight: 700;
      border: none;
      background-color: #242424;
      color: #ffffff;
      padding: 20px 0;
      transition: .3s;
    }
    button:hover{
      cursor: pointer;
      color: rgb(0, 174, 255);
    }
  }

}