*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.home{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  .title{
    font-size: 40px;
    padding-top: 50px;
  }
  .router{
    button{
      font-size: 20px;
      font-weight: 700;
      border: none;
      background-color: #242424;
      color: #ffffff;
      padding: 20px 0;
      transition: .3s;
    }
    button:hover{
      cursor: pointer;
      color: rgb(0, 174, 255);
    }
  }
}
.quiz{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  .title{
    font-size: 40px;
    padding-top: 50px;
  }
  .Q{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h3{
      margin-bottom: 10px;
    }
    button{
      min-width: 300px;
      padding: 10px ;
      font-size: 15px;
      font-weight: 700;
      border-radius: 5px;
      border: none;
      transition: .3s;
    }
    button:hover{
      box-shadow: 0 0 10px #ffffff;
      cursor: pointer;
    }
  }
  .router{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    button{
      font-size: 20px;
      font-weight: 700;
      border: none;
      background-color: #242424;
      color: #ffffff;
      padding: 10px 0;
      transition: .3s;
    }
    button:hover{
      cursor: pointer;
      color: rgb(0, 174, 255);
    }
  }

}



.result{
   background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  .title{
    font-size: 40px;
    padding-top: 230px;
  }
  .r{
    padding: 40px 0;
    font-size: 20px;
    .big{
      font-size: 40px;
      margin: 0 10px;
    }
  }
  .router{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    button{
      font-size: 20px;
      font-weight: 700;
      border: none;
      background-color: #242424;
      color: #ffffff;
      padding: 20px 0;
      transition: .3s;
    }
    button:hover{
      cursor: pointer;
      color: rgb(0, 174, 255);
    }
  }

}


@keyframes gakuburu{
  50%{
    translate: 3px 0;
  }
  100%{
    translate: -3px 0;
  }
}
.loading{
      z-index: 999;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #242424;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.5s;
      h2{
        animation: gakuburu 0.15s infinite;
      }
    

}
.active{
  translate: 0 -100%;
}